.nav-link {
  text-decoration: none;
}

.home-hero {
  background-image: url('./img/homeBG.jpg');
  background-position: center;
}

.cake-hero {
  background-image: url('./img/cakesBG.jpg');
  background-position: top;
}

.cc-hero {
  background-image: url('./img/cupcakeBG.jpg');
  background-position: center;
}

.about-hero {
  background-image: url('./img/aboutBG.jpg');
  background-position: right 50% bottom -150px;
}

.contact-hero {
  background-image: url('./img/callBG.jpg');
  background-position: center;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
}