@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.not-mobile {
  display: none !important;
}

.ipad-desktop {
  display: none !important;
}

.not-mobile-ipad {
  display: none !important;
}

@media (min-width: 600px) {
  .not-ipad-desktop {
    display: none !important;
  }

  .ipad-desktop {
    display: block !important;
  }
}

@media (min-width: 1000px) {
  .mobile-ipad {
    display: none !important;
  }

  .not-mobile-ipad {
    display: flex !important;
  }
}

@media (min-width: 1440px) {
  .mobile {
    display: none !important;
  }

  .not-mobile {
    display: block !important;
  }
}

.nav-link {
  text-decoration: none;
}

.sub-nav-link {
  width: 230px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #CC84BD;  
}

@media (min-width: 600px) {
  .sub-nav-link  {
    height: 45px;
    font-size: 23px;
  }
}

@media (min-width: 1200px) {
  .sub-nav-link  {
    height: 50px;
    font-size: 25px;
  }
}

.button {
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.selected {
  border-bottom: solid 3px #CC84BD;
}

.sub-selected {  
  color: #222;
  background-color: #CC84BD;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.home-hero {
  background-image: url('./img/backgrounds/homeBG.jpg');
  background-position: right 28% bottom 0%;
}

@media (min-width: 1000px) {
  .home-hero {
    background-position: center
  }
}

.products-hero {
  background-image: url('./img/backgrounds/productsBG.jpg');
  background-position: top;
}

.occasions-hero {
  background-image: url('./img/backgrounds/occasionsBG.jpg');
  background-position: left 50% top 60%;
}

.about-hero {
  background-image: url('./img/backgrounds/aboutBG.jpg');
  background-position: left 50% top 40%;
}

.order-hero {
  background-image: url('./img/backgrounds/orderBG.jpg');
  background-position: left 50% top 35%;
}

@media (min-width: 1440px) {
  .occasions-hero {
    background-position: left 50% top 63%;
  }
}

.dark-h2 {
  width: 300px;
}

.dark-p {
  width: 300px !important;
}

.products-p {
  text-align: center !important;
}

@media (min-width: 600px) {
  .dark-h2 {
    width: 440px;
  }

  .dark-p {
    width: 370px !important;
    text-align: center !important;
  }
  .products-p {
    width: 500px !important; 
  }
}

@media (min-width: 1000px) {
  .dark-h2 {
    width: 500px;
  }

  .dark-p {
    width: 500px !important;
  }
}

@media (min-width: 1440px) {
  .dark-p {
    text-align: left !important;
  }
}

.dark-p, .dark-h2 {
  color: white !important;
}

.image-slider-div {
  width: 330px;
  height: 180px;
  margin: 0 auto;  
  padding-top: 20px;
}

.carousel-img {
  width: 100px;
  height: 150px;
  margin: 0 auto;
  object-fit: cover;
}

@media (min-width: 600px) {
  .image-slider-div {
    width: 515px;
    height: 300px;
    margin: 0 auto;  
  }
  
  .carousel-img {
    width: 166px;
    height: 250px;
  }
}

@media (min-width: 1000px) {
  .image-slider-div {
    width: 515px;
    height: 300px;
  }
  
  .carousel-img {
    width: 166px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .image-slider-div {
    width: 515px;
    height: 300px;
  }
  
  .carousel-img {
    width: 166px;
    height: 250px;
  }
}

.slide {
  transform: scale(0.9);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.0);
  opacity: 1;
  position: relative;
  z-index: 5;
}

.activeSlide img {
  border: solid 3px #CC84BD;
}

.arrow {  
  position: absolute;
  cursor: pointer;
  z-index: 10;  
}

.arrow svg {
  transition: color 300ms;
  color: #222;  
}

.arrow svg:hover {
  color: #CC84BD;
}

.up-arrow svg {
  color: #222;  
}

.back-top-a:hover .up-arrow svg {
  color: #CC84BD;
}

.next {
  right: 0;
  top: 50%;
}

.prev {
  left: 0;
  top: 50%;
}

.content-flex {
  width: 100%;
  height: auto;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .content-flex {
    padding: 30px 0;
  }
}

@media (min-width: 1000px) {
  .content-flex {    
    padding: 20px 0;
  }
}

@media (min-width: 1440px) {
  .content-flex {
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
    flex-direction: row;
  }
}

.content-flex p {
  margin: 0 auto;
}

.occasion-info-p {
  width: 300px !important;
  text-align: center !important;
}

.about-p {
  width: 300px !important;
  margin: 0 auto !important;
  padding-top: 20px !important;
  text-align: center !important;
}

.order-smaller-p {
  width: 120px !important;
  text-align: left !important;  
}

.review {
  width: 230px !important;
}

.review-p {
  width: 250px !important;
  text-align: center !important;
}

.footer-text {
  margin: 0;
  color: #222;
}

.footer-link:hover {
  color: white;
}

.main-footer-text {  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;  
}

.sub-footer-text {
  font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

@media (min-width: 600px) {
  .occasion-info-p {
    width: 500px !important;
  }

  .occasion-divInfo {
    padding-left: 0px !important;
    align-items: center !important;
  }

  .about-p {
    width: 500px !important;
    padding-top: 30px !important;    
  }

  .order-smaller-p {
    width: 150px !important;
  }

  .review {
    width: 280px !important;
  }

  .main-footer-text {  
    font-size: 20px;
  }
  
  .sub-footer-text {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {  
  .main-footer-text {  
    font-size: 21px;
  }
  
  .sub-footer-text {
    font-size: 17px;
  }
}

@media (min-width: 1440px) {
  .occasion-divInfo {
    padding-left: 50px;
    align-items: flex-start;
  }

  .about-p {
    width: 650px !important;
    padding-top: 40px !important;    
  }

  .order-smaller-p {
    width: 160px !important;
  }

  .main-footer-text {  
    font-size: 23px;
  }
  
  .sub-footer-text {
    font-size: 19px;
  }
}
